In [17]:
import pandas as pd

In [21]:
#Read CSV into pandas dataframe
contacts_data = pd.read_csv(r"C:\Users\Kehlani\OneDrive\Desktop\contactsdata.csv")

#view the dataframe
contacts_data.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765   Mariana      Ellis       mariana.ellis@rossi.org
2        4187     Sofie      Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com